
 
 <header>
      <h2>Akcelerator List</h2><br>
   </header>
    <nav>
    <h2>&nbsp;&nbsp;<a href="index.html"><span class="wybrane">[M]<-</span></a></h2>
            <ul>
            <li>  
            <button ng-click="ctrl.instrukcja = ctrl.toggle(ctrl.instrukcja)"><h2><span class="wybrane">[I]</span>NSTRUKCJA</h2></button><br>
               <div ng-show="ctrl.instrukcja">
                   1. Wpisz nazwę dzieła/autora.<br>
                   2. Kliknij dodaj.<br>
                   3. Wróć do 1., jeżeli się nie znudziłeś.<br>
                   4. Kliknij 'Już chcę', jeżeli się znudziłeś.<br>
                   PS. program usuwa oryginał, cobyś się nie oszukiwał, że akcelerujesz <br>      
               </div>
            </li>    
            <li>
                <button><h2><span class="wybrane">[I]</span>nputuj tutaj</h2></button><br>
                <form ng-submit="ctrl.addelement(ctrl.lista, ctrl.dzielo); ctrl.dzielo=''">
                 ////<input type="text" name="input" ng-model="ctrl.dzielo" ><br>\\\\</form>
                 <button ng-click="ctrl.addelement(ctrl.lista, ctrl.dzielo); ctrl.dzielo=''"><h2><span class="wybrane">dodaj do listy</span></h2></button><br>
                
               
                <span>
                <button ng-repeat="numer in ctrl.makecount(ctrl.lista.length)" ng-click="ctrl.lista.splice(numer,1)">{{ctrl.lista[numer]}}</button><br>
                </button></span>
                
                <button ng-click="ctrl.gotowalista=ctrl.randomize(ctrl.lista); ctrl.wynik = true"><h2><span class="wybrane">JUŻ TERAZ CHCĘ LISTĘ!</span></h2></button><br>
            </li>    
    </nav>
        
    <main>
       <div>
        
         <ul>         
          <li ng-show = "ctrl.wynik">Oto Twoja lista:</li>
          <br>    
          <li ng-repeat="numer in ctrl.makecount(ctrl.gotowalista.length)">{{numer+1}}. {{ctrl.gotowalista[numer]}} </li>  
           <br>       
          <li ng-show = "ctrl.wynik">Nie bądź znawcą.</li>  
          <br>     
         </ul>
       
       </div>  
        <br>
    </main>
    <nav>
    <h2>&nbsp;&nbsp;<a href="index.html"><span class="wybrane">[M]<-</span></a></h2>  
    </nav>