    <header>
    
    <h1><a ng-href="index.html"><font color="#bb0000">[M]</font></a><span ng-click="otworzall()">asarnia</span></h1><br>
      <div>{{tlo}}{{tlo}}</div> 
  
    </header>
    <nav>
        <ul>
            <li>
             <button ng-click="toggle('data')"><h2><span class="wybrane">[D]</span>ata</h2></button><br>
                <span ng-show="menushow.data">
                <span ng-select ng-model="porzadek.wybrany" select-class="{'wybrane': $optSelected}">
                <button ng-repeat="opcja in porzadek.opcje" ng-select-option="opcja.wartosc">{{opcja.nazwa}}                   
                </button></span></span>
            </li>
            <li>  
            <button ng-click="toggle('autor'); filtry.autor=''"><h2><span class="wybrane">[A]</span>utor</h2></button><br>
               <span ng-show="menushow.autor">
               <span ng-select ng-model="filtry.autor" select-multiple="" select-class="{'wybrane': $optSelected}">
               <button ng-repeat="autor in autorzy" ng-select-option="autor.godnosc"> {{autor.godnosc}}<br>
               </button></span></span>
            </li>
            <li>
            <button ng-click="toggle('temat'); filtry.tagi=''"><h2><span class="wybrane">[T]</span>emat</h2></button><br>
               <span ng-show="menushow.temat">
               <span ng-select ng-model="filtry.tagi"  select-multiple="" select-class="{'wybrane': $optSelected}">
               <button ng-repeat="tag in tagi" ng-select-option="tag"> {{tag}} 
               </button></span><br>
               <span ng-select ng-model="filtry.styl.tagi.wybrany" select-class="{'wybrane': $optSelected}">
               <button ng-repeat="styl in filtry.styl.tagi.przyjmowane" ng-select-option="styl">|{{styl}}
               </button></span></span>
               
            </li>
            <li>
            <button ng-click="toggle('appendix'); appendixy.losuj()"><h2><span class="wybrane">[A]</span>ppendix</h2></button><br>    
            </li>
<!--            <li>
            <h2 ng-click="toggle('sercz')"><span class="wybrane">[S]</span>ercz</h2><span ng-show="menushow.sercz">: <input ng-model="filtry.$"></span>  
            </li> -->
            <li>
            <span ng-select ng-model="pokazall" select-class="{'wybrane': $optSelected}"> <button ng-select-option=false>[X]</button><button ng-select-option=true>[O]</button></span>
        </ul>
    </nav>
    
    
    
    <main>
        
         <ul> <li>     
                <span ng-show="menushow.appendix">
                 <span class="wybrane">[M]</span>ASARNIA MEDIUM   
                <p><span>{{appendixy.wybrany}}</span><br> Kontakt z autorami na masarniamedium@gmail.com</p>   
                </span> 
         </li> </ul>     
        
         <ul> <li ng-show="filtry.tagi.length>0"><span class="wybrane">[T]</span><span ng-repeat="tagi in filtry.tagi"> {{tagi}} </span> | {{filtry.styl.tagi.wybrany}}</li></ul> 
         
        <ul> <li ng-repeat="autor in filtry.autor"><span ng-repeat="notka in autorzy | filter:{godnosc: autor}"><span class="wybrane">[A]</span> {{notka.godnosc}}<p>{{notka.opis}}</p></li></span></ul>



          <div ng-repeat="tekst in teksty | filter:porownajtekst | filter: filtry.$ |  orderBy:porzadek.wybrany">
              
          
          <h1 ng-click="otworz(tekst)">{{tekst.tytul}}</h1>  
        <div>
         [D] {{tekst.data | date:'M/d/yy hh:mm'}} [A]<span ng-repeat="autor in tekst.autor"> {{autor}}</span><br>[T] <span ng-repeat="tag in tekst.tagi"> {{tag}}</span>
              <br><a ng-href="#/teksty/{{tekst.tytul}}"><span class="wybrane">[l]</span>ink</a>&nbsp;
               <button ng-click="otworz(tekst)">
                  <span ng-hide=tekst.otwarty><span class="wybrane" >[O]</span>tworz </span>
                  <span ng-show=tekst.otwarty><span class="wybrane" >[Z]</span>amknij</span>
              </button> 
              &nbsp;<a href="index.html"><span class="wybrane">[W]</span>RÓĆ</a>
        </div>
         <md ng-include=tekst.tresc ng-show=tekst.otwarty></md>
         </div>
            
    </main>
    
    
    <footer></footer>
